@import "../../global.scss";

.portfolio{
  position: relative;
background-color: white;
display: flex;
flex-direction: column;
align-items:center;
overflow: hidden;

@include mobile{
margin-right: 20px;
 }

h1{
  font-size: 50px;
  margin-bottom: 10px;
  

  @include mobile{
   font-size: 25px; 
  }
}

ul{
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;

  @include mobile{
   font-size: 20px; 
   flex-wrap: wrap;
   justify-content: center;
     margin:10px 0;
  }

  // li{
  //   font-size: 20px;
  //   font-weight: 500;
  //   margin-right: 5px;
  //   padding: 7px;
  //   border-radius: 10px;
  //   cursor: pointer;

  //   &.active{
  //     background-color: $maincolor;
  //     color: white;
  //     transition: all 0.5s;
  //   }
  // }
}

.container{
  // border: 2px solid blue;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
flex-wrap: wrap;

@include mobile{
 width: 100%;   
}

.item{
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(240,239,239);
  overflow: hidden;
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
color: white;
transition: all 0.7s;
cursor: pointer;

@include mobile{
 width: 130px;   
 height: 120px;
}

  img{
width: 100%;
height: 100%;
object-fit: cover;
z-index: 1;

  }
  a{
    position: absolute;
    font-size: 20px;
text-align: center;
margin: 0 20px;
color: white;
text-decoration: none;
font-size: 25px;
font-weight: bold;
// user-select: none;
  }
  &:hover{
    background-color: $maincolor;

    img{
    opacity: 0.2;  
    z-index: 0;
    }
  }
}


}


}


// first way
// <li className="active">Featured</li>
// <li>Web App</li>
// <li>Mobile App</li>
// <li>Design</li>
// <li>Branding</li>

// second way  sith portfoliolist
  // // {list.map((item) => (
  //   <portfoliolist title={item.title}><li>{item.title}</li></portfoliolist>
  //   // <portfoliolist title={item.title}/>
  //   ))


  // {list.map((item) => (
  //   <portfoliolist title={item.title}
  //    active={selected === item.id} setselected={setselected} id={item.id}>
  //    <li 
  //   //  className= {active ? "active" :""} onClick={() => setselected(id)}
  //    >{item.title}</li></portfoliolist>
  //   // <portfoliolist title={item.title}/>

  //   ))}